
.elements {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 3rem 0;
}

.card-title {
    text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .card-text {
        text-align: center;
    }
}